<div class="container" style="margin-top:20px; margin-left:60px; width:1000px; text-align:centre;">

  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9">
        <div class="hero__caption">
            <h1>Find your <span>Next tour!</span> </h1>
            <p>Where would you like to go?</p>
        </div>
    </div>
</div>
<!-- Search Box -->
<div class="row">
    <div class="col-xl-12">
        <!-- form -->
        <form [formGroup]="SearchForm" class="search-box" (ngSubmit)="OnSubmit()" #form="ngForm">
            <div class="input-form mb-30">
               <input type="text"  formControlName="Name">
            </div>
            <div class="select-form mb-30">

              <select formControlName="List" class="form-control"  >
<option value="City">City</option>
<option value="State">State</option>

<option value="Country">Country</option>



</select>




            </div>
            <div class="search-form mb-30">
                <input type="submit" value="Search" class="btn btn-primary fa fa-magic" />
            </div>
        </form>
    </div>

</div>




      <div class="row" *ngFor="let ho of hotels|async" style="display:block">

          <div class="card" style="display:block">
              <div class="row" style="display:inline">
                  <ul class="collection with-header">
                      <li class="collection-header">
                          <img style="float: left; margin-left:20px;" src="../../../assets/img/elements/a.jpg" class="img-thumbnail"><h2>&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; {{ho.HotelName}}</h2>


                          &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
                          <h5>
                              <a class="fa fa-location-arrow">
                                 {{ho.City}} &nbsp;
                                 {{ho.State}} &nbsp;
                                 {{ho.Pincode}}
                              </a>

                          </h5>
                      </li>
                      <li class="collection-item" style="font-weight: bold;"><h5><a class="fa fa-money">&nbsp; &nbsp; Price: {{ho.Price}}</a>  </h5></li>

                      <li class="collection-item">&nbsp;&nbsp; &nbsp; <a class = "btn btn-Success fa fa-10x fa-pencil" [routerLink]="['/Customer/Book']" [queryParams]="{ id: ho.HotelId }">book</a></li>

                  </ul>


                </div>
          </div>
      </div>

</div>

