<div class="card-deck">
  <div class="card h-100" style="width: 18rem; display: inline-block; height: 100%;">
      <div class="card-body">
          <h4 class="card-title"><i class="fa fa-user-circle" aria-hidden="true"></i> Users</h4>
          <p class="card-text">The site currently has <strong>0</strong> users.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
      </div>
  </div>

  <div class="card h-100" style="width: 18rem; display: inline-block;">
      <div class="card-body">
          <h4 class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Bookings</h4>
          <p class="card-text">There have currently been <strong>{{bookingCount}}</strong> bookings.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
      </div>
  </div>
</div>
