<h4>
    <div class="fa fa-edit"></div>&nbsp;&nbsp;Add a Room</h4>
<form #form="ngForm" (submit)="onSubmit(form)">
    <!--     <input type="hidden" name="RoomId" #RoomId="ngModel" [(ngModel)]="service.formData.RoomId">



<div class="form-group">
-->
<input type="hidden" name="HotelId" #HotelId="ngModel" [(ngModel)]="hotelId">

    <div class="form-group">
        <label>Room Type</label>
        <select name="RoomTypeId" #RoomTypeId="ngModel" [(ngModel)]="service.formData.RoomTypeId" class="form-control" required>
      <option [ngValue]=1>Twin</option>
      <option [ngValue]=2>Single</option>
      <option [ngValue]=3>King</option>
    </select>
    </div>

    <div class="form-group">
        <label>Remarks</label>
        <input id="remarks" name="Remarks" #Remarks="ngModel" [(ngModel)]="service.formData.Remarks" class="form-control" required>
        <div class="validation-error" *ngIf="Remarks.invalid && Remarks.touched">
            This Field Is Required
        </div>
    </div>
    <div class="form-group">
        <label>Status</label>
        <input id="status" name="Status" #Status="ngModel" [(ngModel)]="service.formData.Status" class="form-control" required>
        <div class="validation-error" *ngIf="Status.invalid && Status.touched">
            This Field Is Required
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!form.valid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
</form>
